//
// Overrides for deconf styles
//

@include desktop {
  .navbar-brand {
    display: none;
  }
}

.sideTabs {
  overflow-y: auto;
}
.sideTabs-tab:first-child {
  line-height: 1;
}
.sideTabs-tab:first-child > .router-link-active {
  background-color: $white;
  border-radius: $radius;
  padding: 0.5em;
  margin: -0.5em;
}

.appLayout:not(.atriumView) .boxContent {
  max-width: 720px;
  margin-inline: auto;
}

.button {
  font-weight: bold;
  border-radius: 4px;
  padding-inline: 1rem;
}
.button.is-small {
  padding-inline: 0.8rem;

  &:not(.is-rounded) {
    border-radius: $radius-small;
  }
}

.navbar {
  background-color: $pdc-yellow;
  color: $black;

  .navbar-menu {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .button.is-light {
    background-color: $black;
    color: $white;
  }

  .navbar-item:not([disabled]):not(.is-active):hover {
    background-color: unset;
  }

  .button {
    border-color: $black;
  }
}

.button.is-facebook {
  background-color: #1877f2;
  color: $white;
  border-width: 0;
}
.button.is-twitter {
  background-color: #1d9bf0;
  color: $white;
  border-width: 0;
}
.button.is-instagram {
  background-color: transparent;
  background-image: linear-gradient(-45deg, #1400c8, #b900b4, #f50000);
  color: $white;
  border-width: 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.addToCalendar {
  display: none !important;
}

.sessionTile-title a {
  color: $pdc-navy;
}

.speakerGrid-speaker:hover {
  cursor: pointer;
}
.speakerGrid-speaker:hover .speakerGrid-name {
  color: $pdc-navy;
  text-decoration: underline;
}

.scheduleView .sessionTile-description,
.scheduleView .sessionTile-speakers {
  display: none;
}

// TODO: move back to deconf
.icon-text {
  display: inline-block;
}
